@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
/*
font-family: 'Architects Daughter', cursive;
*/

body {
    width: 100%;
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Secular One', sans-serif;
    background-color:#B4D6AA;
}
.container {
    width: 800px;
}
h1 {
    margin-top: 30px;
    margin-bottom: 0;
    color:#142918;
}
h2 {
    color: #142918;
}
.btn:hover {
    cursor: pointer;
}
input, button {
    height: 40px;
    width: 200px;
    margin: 10px 5px;
    font-size: 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    text-align: center;
    font-family: 'Secular One', sans-serif;
    background-color: #142918;
    color: #f6f6f6;
}
