@font-face {
    font-family: 'deathnote';
    src: url(/./files/fonts/deathnote/deathnote-font.ttf);
    font-weight: 300;
    font-variation-settings: 'wght' 300;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url(/../files/fonts/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf);
    font-weight: 300;
    font-variation-settings: 'wght' 300;
}

body {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Red Hat Display', Arial, Helvetica, sans-serif;
    font-size: 14pt;
    background-color: #1e1e1e;
    color: #f6f6f6;
}

h1 {
    font-family: 'deathnote';
}

form, div {
    width: 900px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

input {
    height: 30px;
    background-color: #f6f6f61e;
    border-radius: 6px;
    color: #f6f6f6;
    font-weight: bold;
    text-align: center;
    font-family: 'Red Hat Display', Arial, Helvetica, sans-serif;
    font-size: 14pt;
}

.btn {
    height: 36px;
    width: 280px;
    background-color: #c3380d;
}

.btn:hover {
    cursor: pointer;
}

#add-btn { 
    width: 50px;
}

#interest-btn { 
    background-color: #aa1212;
}

table, tr, th {
    border: 1px solid #f6f6f6;
    border-radius: 6px;
}

table {
    background-color: #f6f6f61e;
    width: 900px;
    text-align: center;
    margin-top: 30px;  
}

form input {
    width: 260px;
}

#search-input {
    width: 670px;
}

#search-btn {
    width: 200px;
    background-color: rgb(47, 74, 226);
}